@page "/notifications"
@using System.Net.Mail
@using System.Net
@using System.Net.Mime
@inject IDbContextFactory<VendorDataDbContext> ContextFactory
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using System.IO;

<main class="main mt-4">

    @if (SendNotifs)
    {
        <h2 class="title notif-title mt-4">Notifications</h2>
        <div class="tabs-content">

            <div class="notifications-group mt-4">

                <form action="#" id="notif-form">

                    <label for="subject-line" hidden>Subject Line</label>
                    <input @bind-value="SubjectLine" class="required form-control mb-2" id="subject-line" name="subject-line" type="text" placeholder="Subject Line" />

                    <div class="quill-div mb-2">
                        <BlazoredTextEditor @ref="@Quill">
                            <ToolbarContent>
                                <select class="ql-font">
                                    <option selected=""></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <select class="ql-align">
                                    <option selected=""></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>


                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-image" data-toggle="tooltip" data-placement="bottom" title="Insert Image"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
                                <p>To Company,</p>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <p>Thank you,</p>
                                <p>Health and Hospital Corporation - Purchasing Department</p>
                                <p>Marion County Health Department</p>
                                <img width="150" src="/logo.PNG" cid="imageIdentifier">


                                @*                                <img src="@imageDataUri"/>
                            *@
                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>


                    <br />


                    <div class="tab mt-4">
                        <button type="button" @onclick="(e => DisplayTab(1))" class="@((tab1) ? "active" : "")">
                            <span alt="user icon" class="oi oi-briefcase"></span><br />
                            <span class="d-none d-sm-inline">Types</span>
                        </button>

                        <button type="button" @onclick="(e => DisplayTab(2))" class="@((tab2) ? "active" : "")">
                            <span alt="building icon" class="oi oi-paperclip"></span><br />
                            <span class="d-none d-sm-inline">Categories</span>
                        </button>

                        <button type="button" @onclick="(e => DisplayTab(3))" class="@((tab3) ? "active" : "")">
                            <span alt="address-book icon" class="oi oi-envelope-closed"></span><br />
                            <span class="d-none d-sm-inline">Companies</span>
                        </button>

                        @*  <button type="button" @onclick="(e => DisplayTab(4))" class="@((tab4) ? "active" : "")">
                    <i alt="address-book icon" class="fa-regular fa-building"></i><br />
                    <span class="d-none d-sm-inline">Companies</span>
                    </button>*@

                    </div>

                    @*@if (tab1)
                {
                <div class="tabcontent mb-4">

                <div class="create-account-container mb-4">
                <p class="when fw-bold mb-3">When would you like to send the notification?</p>
                <input type="radio" id="immediate" name="send" class="mb-3" />
                <label for="immediate">Immediately</label><br>
                <input type="radio" id="repeat7" value="repeat-7-days" name="send" class="mb-3" />
                <label for="repeat7">Every 7 days after first notification</label><br>

                <div>
                <input type="radio" id="other" value="other" name="send" class="mb-4" />
                <label for="other">Every </label>
                <input class="mb-4" id="number-days" type="number" name="number-of-days" />
                <label for="number-days" hidden>Type a Number of Days</label>
                days after first notification
                <div class="number-days-notif-alert alert alert-danger hidden">Please enter a value</div>
                </div>

                </div>
                <button type="button" class="btn btn-primary btn-sm" @onclick="() => NextButtonClick(1)">Next</button>

                </div>

                }*@
                    @if (tab1)
                    {
                        <div class="tabcontent mb-4">
                            <div class="create-account-container mb-4">

                                <h4 class="fw-bold mb-3">Select Types:</h4>

                                <p class="send fw-bold">Which company types should the notification be sent too?</p>
                                <ul class="company-types mb-4">
                                    <li>
                                        @if (TypeAll)
                                        {
                                            <label for="select-all-type">
                                                <input checked @onclick="() => HandleTypeAll()" type="checkbox" class="select-all-type form-check-input" id="select-all-type" />
                                                Select All
                                            </label>
                                        }
                                        else
                                        {
                                            <label for="select-all-type">
                                                <input @onclick="() => HandleTypeAll()" type="checkbox" class="select-all-type form-check-input" id="select-all-type" />
                                                Select All
                                            </label>
                                        }
                                    </li>
                                    @if (Types is not null)
                                    {
                                        @foreach (var type in Types)
                                        {
                                            @if (type.Is_Checked)
                                            {
                                                <li class="typeLi">
                                                    <label id="key" for="@type.Type_Name">
                                                        <input @key="type.Id" checked id="@type.Type_Name" value="@type.Is_Checked" @onclick="() => HandleTypeChange(type.Id)" class="form-check-input type-check"
                                           Name="TypeCheckbox" type="checkbox" /> @type.Type_Name
                                                    </label>
                                                    <br />
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="typeLi">
                                                    <label id="key" for="@type.Type_Name">
                                                        <input @key="type.Id" id="@type.Type_Name" value="@type.Is_Checked" @onclick="() => HandleTypeChange(type.Id)" class="form-check-input type-check"
                                           Name="TypeCheckbox" type="checkbox" /> @type.Type_Name
                                                    </label>
                                                    <br />
                                                </li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div>Loading...</div>
                                    }
                                </ul>

                            </div>
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => NextButtonClick(1)">Next</button>

                        </div>
                    }
                    @if (tab2)
                    {
                        <div class="tabcontent mb-4">
                            <div class="create-account-container mb-4">

                                <h4 class="fw-bold mb-3">Select Categories:</h4>

                                <p class="send fw-bold">Which company categories should the notification be sent too?</p>
                                <ul class="company-categories mb-4">
                                    <li>
                                        @if (CategoryAll)
                                        {
                                            <label for="select-all-category">
                                                <input @onclick="() => HandleCategoryAll()" checked type="checkbox" class="form-check-input" id="select-all-category" />
                                                Select All
                                            </label>
                                        }
                                        else
                                        {
                                            <label for="select-all-category">
                                                <input @onclick="() => HandleCategoryAll()" type="checkbox" class="form-check-input" id="select-all-category" />
                                                Select All
                                            </label>
                                        }
                                    </li>

                                    @if (FilteredCategories is not null)
                                    {
                                        @foreach (var cat in FilteredCategories)
                                        {
                                            @foreach (var type in Types.Where(type => type.Id == cat.Type_Id))
                                            {

                                                @if (cat.Is_Checked)
                                                {
                                                    <li class="catLi">
                                                        <label id="key" for="@cat.Category_Name">
                                                            <input @key="cat.Id" checked @onclick="() => HandleCategoryChange(cat.Id)" class="form-check-input cat-check" id="@cat.Category_Name"
                                           name="@cat.Category_Name" type="checkbox" /><strong>@type.Type_Name:</strong> @cat.Category_Name
                                                        </label>
                                                        <br />
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="catLi">
                                                        <label id="key" for="@cat.Category_Name">
                                                            <input @key="cat.Id" @onclick="() => HandleCategoryChange(cat.Id)" class="form-check-input cat-check" id="@cat.Category_Name"
                                           name="@cat.Category_Name" type="checkbox" /><strong>@type.Type_Name:</strong> @cat.Category_Name
                                                        </label>
                                                        <br />
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div>Loading...</div>
                                    }
                                </ul>

                            </div>
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => PreviousButtonClick(2)">Previous</button>
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => NextButtonClick(2)">Next</button>

                        </div>
                    }
                    @if (tab3)
                    {

                        <div class="tabcontent mb-4">
                            <div class="create-account-container mb-4">

                                <h4 class="fw-bold mb-3">Select Companies:</h4>

                                <p class="send fw-bold">Which companies should the notification be sent too?</p>

                                <ul class="company-send-list mb-4">
                                    <li>
                                        @if (CompanyAll)
                                        {
                                            <label for="select-all-company">
                                                <input @onclick="() => HandleCompanyAll()" checked type="checkbox" class="select-all-company form-check-input" id="select-all-company" />
                                                Select All
                                            </label>
                                        }
                                        else
                                        {
                                            <label for="select-all-company">
                                                <input @onclick="() => HandleCompanyAll()" type="checkbox" class="select-all-company form-check-input" id="select-all-company" />
                                                Select All
                                            </label>
                                        }
                                    </li>
                                    @if (RelatedCompanies is not null && Companies is not null)
                                    {
                                        @foreach (var rcompany in RelatedCompanies)
                                        {
                                            @foreach (var company in Companies.Where(comp => comp.Id == rcompany.CompanyId))
                                            {
                                                if (company.Is_Checked)
                                                {
                                                    <li>
                                                        <label for="company-checkbox">
                                                            <input @onclick="() => HandleCompanyChange(company.Id)" @key="company.Id" checked type="checkbox" class="form-check-input" id="company-checkbox" />
                                                            @company.Name
                                                        </label>
                                                    </li>
                                                }
                                                else
                                                {


                                                    <li>
                                                        <label for="company-checkbox">
                                                            <input @onclick="() => HandleCompanyChange(company.Id)" @key="company.Id" type="checkbox" class="form-check-input" id="company-checkbox" />
                                                            @company.Name
                                                        </label>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                    else if (RelatedCompanies is not null && Companies is not null)
                                    {
                                        <div>Loading...</div>
                                    }
                                </ul>

                            </div>
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => PreviousButtonClick(3)">Previous</button>


                        </div>
                    }
                    @if (SelectedCompanies is not null)
                    {
                        <p style="font-size: 20" class="fw-bold">Selected Companies: @SelectedCompaniesCount</p>
                    }

                    <button type="button" disabled="@IsBusy" @onclick="@HandleNotifSubmit" class="btn btn-primary submit">Send Notification</button>
                    @if (IsBusyMessage is not null)
                    {
                        <div class="alert alert-secondary mt-2">@IsBusyMessage</div>
                    }
                    @if (SendNotifSuccess is not null)
                    {
                        <div class="alert alert-success mt-4">@SendNotifSuccess</div>
                    }
                    @if (SendNotifError is not null)
                    {
                        <div class="alert alert-danger mt-4">@SendNotifError</div>

                    }

                </form>
            </div>
        </div>
    }

    @if (PrevNotifs)
    {

        <h2 class="title notif-title mt-4">Previous Notifications</h2>

        <div class="previous-notifs-group pt-2 mt-1">
            <table class=" table dt-responsive nowrap w-100 mt-3" id="basic-datatable">
                <thead>
                    <tr class="header-row">
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Sent To:</th>
                        <th>Date Sent:</th>
                    </tr>
                </thead>
                <tbody>
                    @if (NotifsHistory is not null)
                    {
                        @foreach (var notifs in NotifsHistory)
                        {

                            <tr>
                                <td>@notifs.Title</td>
                                <td>
                                    <button style="color: rgb(80, 80, 250); text-decoration: underline" type="button" class="btn" @onclick="() => ModalShow(notifs.Id)">
                                        @((MarkupString)notifs.Body.Substring(0, 15))
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-secondary btn-sm" @onclick="() => ModalShowCompanyList(notifs.Id)">Click to see Recipients</button>
                                </td>
                                <td>@notifs.Date_Sent</td>
                            </tr>

                        }

                    }
                </tbody>
            </table>

        </div>

     
                    //Modal Start
            @if (ShowModal)
            {
                <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div style="flex-direction: column;" class="modal-header">

                                    <h4 class="modal-title mb-3">Notification Id: <strong>@NotificationId</strong></h4>
                                <h5>Subject: <strong>@NotificationSubjectLine</strong></h5>
                                    
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                @if(NotificationBody is not null)
                                {
                                <p>@((MarkupString)NotificationBody)</p>
                                }
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            }
            //Modal End

        //Modal Start
        @if (ShowListModal)
        {
            <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div style="flex-direction: column;" class="modal-header">

                            <h4 class="modal-title">Notification Id: <strong>@NotificationId</strong></h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <h5 style="text-decoration: underline">Recipients:</h5>

                            <ul>
                            @if (ListOfCompanies is not null)
                            {
                                @foreach (var comp in ListOfCompanies)
                                {
                                    <li>@comp</li>
                                }
                            }
                            </ul>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }
        //Modal End


    }
    <div class="panel home-panel mb-4 mt-4">
        <div class="layout">
            <h2 class="home-header fs-4 fw-bold title">Home Page</h2>
            <p class="home-description desc">Go back to home page to do various tasks</p>
        </div>
        <span class="house"><i alt="house icon" class="fa-solid fa-house fa-2x"></i></span>
        <a href="/" class="stretched-link"></a>
    </div>


    <div class="tab-div">
        <button @onclick="@SendNotifsActive" class="tab1-btn send-notifs-content @(SendNotifs == true ? "active-page" : "")" type="button">Send Notifications</button>
        <button @onclick="@PrevNotifsActive" class="tab2-btn btn prev-notifs-content @(PrevNotifs == true ? "active-page" : "")" type="button">Previous Notifications</button>
    </div>


</main>

@code {


    private bool tab1 = true;
    private bool tab2 = false;
    private bool tab3 = false;
    //  private bool tab4 = false;
    private bool SendNotifs = true;
    private bool PrevNotifs = false;

    private Business_Types[]? Types { get; set; }
    public Business_Types? Type { get; set; }
    private List<Business_Types> CheckedTypes = new List<Business_Types>();


    private Business_Categories[]? Categories { get; set; }
    private Business_Categories? Category { get; set; }
    private List<Business_Categories> CheckedCategories = new List<Business_Categories>();

    private List<Business_Categories> FilteredCategories = new List<Business_Categories>();
    private List<Company_Types_Categories> FilteredCompanies = new List<Company_Types_Categories>();
    public List<Company_Types_Categories> RelatedCompanies = new List<Company_Types_Categories>();



    private Company_Types_Categories[]? CompanyTypesCats { get; set; }


    private Company[]? Companies { get; set; }
    private Company? Company { get; set; }
    private List<Company> SelectedCompanies = new List<Company>();
    private Vendor.Data.Models.Notifications[]? NotifsHistory { get; set; }
    private Notification_Recipient[]? NotifsRec { get; set; }
    private Notification_Recipient? RecipientObject { get; set; }


    public bool IsChecked { get; set; }
    public bool SendReoccuring { get; set; }

    BlazoredTextEditor? Quill;
    public string? QuillContent { get; set; }

    private string? SendNotifSuccess { get; set; }
    private string? SendNotifError { get; set; }
    private string? IsBusyMessage { get; set; }

    private bool IsBusy = false;
    private bool TypeAll = false;
    private bool CategoryAll = false;
    private bool CompanyAll = false;

    private int? SelectedCompaniesCount { get; set; }

    private string? SubjectLine = null;

    private Vendor.Data.Models.Notifications? Notif { get; set; }
    private int? NotificationId { get; set; }
    private string? NotificationSubjectLine { get; set; }
    private MarkupString? NotificationBody { get; set; }
    private int NotificationsCount { get; set; }

    private List<string> ListOfCompanies = new List<string>();
    bool ShowListModal = false;
    private MarkupString myMarkup { get; set; }
    //string imageDataUri;

    bool ShowModal = false;

    private async Task ModalShow(int NotifId)
    {
        using var context = ContextFactory.CreateDbContext();
        Notif = await context.NotificationsList.FirstOrDefaultAsync(notif => notif.Id == NotifId);
        myMarkup = new MarkupString($"{Notif.Body}");

        ShowModal = true;
        NotificationId = Notif.Id;
        NotificationSubjectLine = Notif.Title;
        NotificationBody = myMarkup;

    }
    private async Task ModalShowCompanyList(int NotifId)
    {
        ListOfCompanies.Clear();

        using var context = ContextFactory.CreateDbContext();

        var CompaniesSent = await context.Notification_Recipients.Where(rec => rec.NotificationsId == NotifId).ToListAsync();
        NotificationId = NotifId;

        if(CompaniesSent is not null)
        {
            foreach(var comp in CompaniesSent)
            {
                ListOfCompanies.Add(comp.CompanyName);
            }
        }
        ShowListModal = true;

    }

    void ModalCancel()
    {
        ShowModal = false;
        ShowListModal = false;
    }

    protected override async Task OnInitializedAsync()
    {
        using var context = ContextFactory.CreateDbContext();
        Types = await context.Business_Types.OrderBy(type => type.Type_Name).ToArrayAsync();
        Categories = await context.Business_Categories.OrderBy(cat => cat.Category_Name).ToArrayAsync();
        CompanyTypesCats = await context.Company_Types_Categories.ToArrayAsync();
        Companies = await context.Companies.ToArrayAsync();


        foreach (var type in Types)
        {
            type.Is_Checked = false;
            context.Update(type);
            await context.SaveChangesAsync();
        }

        foreach (var cat in Categories)
        {
            cat.Is_Checked = false;
            context.Update(cat);
            await context.SaveChangesAsync();
        }

        foreach (var comp in Companies)
        {
            comp.Is_Checked = false;
            context.Update(comp);
            await context.SaveChangesAsync();
        }

        await LoadData();
    }

    //long maxFileSize = 1024 * 1024 * 15;

    //async Task LoadImage(InputFileChangeEventArgs e)
    //{
    //    var imageFile = await e.File.RequestImageFileAsync("image/jpeg", maxWidth: 640, maxHeight: 480);
    //    using Stream fileStream = imageFile.OpenReadStream(maxFileSize);
    //    using MemoryStream ms = new();


    //    await fileStream.CopyToAsync(ms);

    //    imageDataUri = $"data:image/jpeg;base64,{Convert.ToBase64String(ms.ToArray())}";

    //}


    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeAsync<IJSObjectReference>("DataTablesAdd", "#basic-datatable");


        }
    }

    private async Task LoadData()
    {
        using var context = ContextFactory.CreateDbContext();

        Types = await context.Business_Types.OrderBy(type => type.Type_Name).ToArrayAsync();

        Companies = await context.Companies.ToArrayAsync();


        Companies = await context.Companies
        .Where(comp => comp.Is_Deleted == false)
        .Where(comp => comp.Disabled_From_Notifications == false)
        .OrderBy(comp => comp.Name)
        .ToArrayAsync();

        SendNotifSuccess = null;
        SendNotifError = null;

        NotifsHistory = await context.NotificationsList.ToArrayAsync();
        NotifsRec = await context.Notification_Recipients.ToArrayAsync();

        SelectedCompaniesCount = SelectedCompanies.Where(comp => !comp.Is_Deleted).Count();
        NotificationsCount = await context.NotificationsList.CountAsync();

    }

    public void DisplayTab(int TabNumber)
    {
        switch (TabNumber)
        {
            case 1:
                this.tab1 = true;
                this.tab2 = false;
                this.tab3 = false;
                //      this.tab4 = false;

                break;
            case 2:
                this.tab1 = false;
                this.tab2 = true;
                this.tab3 = false;
                //      this.tab4 = false;

                break;
            case 3:
                this.tab1 = false;
                this.tab2 = false;
                this.tab3 = true;
                //     this.tab4 = false;

                break;
            case 4:
                this.tab1 = false;
                this.tab2 = false;
                this.tab3 = false;
                //    this.tab4 = true;

                break;
        }
    }

    private void NextButtonClick(int tab)
    {

        DisplayTab(tab + 1);
    }

    private void PreviousButtonClick(int tab)
    {
        DisplayTab(tab - 1);
    }

    private async Task SendNotifsActive()
    {
        SendNotifs = true;
        PrevNotifs = false;
        await JS.InvokeAsync<IJSObjectReference>("DataTablesRemove", "#basic-datatable");


        await LoadData();
    }

    private async Task PrevNotifsActive()
    {
        SendNotifs = false;
        PrevNotifs = true;
        await LoadData();
        await JS.InvokeAsync<IJSObjectReference>("DataTablesAdd", "#basic-datatable");
    }

    //private AlternateView GetEmbeddedImage(String filePath)
    //{
    //    LinkedResource res = new LinkedResource(filePath, MediaTypeNames.Image.Jpeg);
    //    res.ContentId = Guid.NewGuid().ToString();
    //    string htmlBody = @"<img src='cid:" + res.ContentId + @"'/>";
    //    AlternateView alternateView = AlternateView.CreateAlternateViewFromString(htmlBody, null, MediaTypeNames.Text.Html);
    //    alternateView.LinkedResources.Add(res);
    //    return alternateView;
    //}

    private async void HandleNotifSubmit()
    {
        using var context = ContextFactory.CreateDbContext();

        if (IsBusy)
        {
            return;
        }
        IsBusy = true;
        IsBusyMessage = "Sending...";
        SendNotifError = null;
        SendNotifSuccess = null;

        if (SelectedCompaniesCount == 0 || SelectedCompaniesCount is null)
        {
            IsBusy = false;
            IsBusyMessage = null;
            SendNotifError = "Please select at least one company to send the notification to.";
            return;
        }
        if (Quill is not null)
        {
            QuillContent = await this.Quill.GetHTML();
            StateHasChanged();

            try
            {
                var sClient = new SmtpClient("SMTP.HHCORP.ORG");
                var message = new MailMessage();

                sClient.Port = 25;
                sClient.UseDefaultCredentials = false;


                foreach (var company in SelectedCompanies)
                {

                    var CompanyContacts = await context.Authorized_Contacts.Where(contact => contact.CompanyId == company.Id && !contact.Contact_Deleted).ToArrayAsync();

                    foreach (var person in CompanyContacts)
                    {
                        if (person is not null)
                        {
                            message.To.Add(new MailAddress($"{person.Email}"));
                        }
                    }
                }

                if (SubjectLine is null)
                {
                    SendNotifSuccess = null;
                    SendNotifError = "Please provide a subject line.";
                    return;
                }
                else
                {
                    SendNotifError = null;
                    message.Subject = SubjectLine;
                }

                message.From = new MailAddress("test@hhcorp.org");
                //message.AlternateViews.Add(GetEmbeddedImage("c:/image.png"));
                message.Body = QuillContent;
                message.IsBodyHtml = true;

                sClient.Send(message);


                Notif = new Data.Models.Notifications();
                Notif.Title = SubjectLine;
                Notif.Body = QuillContent;
                Notif.Date_Sent = DateTime.Now;
                Notif.Created_By = "test@hhcorp.org";

                context.NotificationsList.Add(Notif);
                await context.SaveChangesAsync();


        

                foreach (var company in SelectedCompanies)
                {
                    RecipientObject = new Notification_Recipient();
                    RecipientObject.NotificationsId = Notif.Id;
                    RecipientObject.CompanyId = company.Id;
                    RecipientObject.CompanyName = company.Name;
                    context.Notification_Recipients.Add(RecipientObject);
                    await context.SaveChangesAsync();
                }
                await LoadData();
                SendNotifSuccess = "Sent Successfully!";

            }
            catch
            {
                SendNotifError = "There was an error while sending the notification. Please try again.";
            }
            finally
            {
                IsBusy = false;
                IsBusyMessage = null;
                StateHasChanged();
            }

        }

    }



    private async Task HandleTypeChange(int TypeId)
    {
        using var context = ContextFactory.CreateDbContext();
        Type = await context.Business_Types.FirstOrDefaultAsync(type => type.Id == TypeId);
        Type.Is_Checked = !Type.Is_Checked;
        context.Update(Type);
        await context.SaveChangesAsync();

        if (Type.Is_Checked)
        {
            if (Type is not null)
            {
                CheckedTypes.Add(Type);
            }
        }

        if (!Type.Is_Checked)
        {
            if (Type is not null)
            {
                CheckedTypes.RemoveAll(type => type.Id == TypeId);
            }
        }

        await LoadCategories();
        await LoadData();
    }

    private async Task LoadCategories()
    {
        using var context = ContextFactory.CreateDbContext();

        FilteredCategories.Clear();

        foreach (var type in CheckedTypes)
        {
            var CatList = await context.Business_Categories.ToArrayAsync();

            foreach (var cat in CatList)
            {
                if (cat.Type_Id == type.Id && type.Is_Checked)
                {
                    FilteredCategories.Add(cat);
                }
            }

        }
    }

    private async Task HandleCategoryChange(int CatId)
    {
        using var context = ContextFactory.CreateDbContext();
        Category = await context.Business_Categories.FirstOrDefaultAsync(cat => cat.Id == CatId);
        Category.Is_Checked = !Category.Is_Checked;
        context.Update(Category);
        await context.SaveChangesAsync();


        if (Category.Is_Checked)
        {
            if (Category is not null)
            {
                CheckedCategories.Add(Category);


                foreach (var company in CompanyTypesCats.Where(comp => comp.Category_Id == Category.Id))
                {
                    if (!RelatedCompanies.Any(comp => comp.CompanyId == company.CompanyId))
                    {
                        RelatedCompanies.Add(company);
                    }
                }

            }
        }

        if (!Category.Is_Checked)
        {
            if (Category is not null)
            {
                CheckedCategories.RemoveAll(cat => cat.Id == CatId);

                RelatedCompanies.Clear();

                foreach (var company in CompanyTypesCats)
                {
                    foreach (var cat in CheckedCategories.Where(cat => cat.Id == company.Category_Id))
                    {
                        if (!RelatedCompanies.Any(comp => comp.CompanyId == company.CompanyId))
                        {
                            RelatedCompanies.Add(company); //This allows to add company back in if they have other categories that were checked
                        }
                    }
                }
            }
        }


        await LoadCategories();
        await LoadData();
    }

    private async Task HandleCompanyChange(int CompanyId)
    {
        using var context = ContextFactory.CreateDbContext();
        Company = await context.Companies.FirstOrDefaultAsync(comp => comp.Id == CompanyId);
        Company.Is_Checked = !Company.Is_Checked;
        context.Update(Company);
        await context.SaveChangesAsync();

        if (Company.Is_Checked)
        {
            SelectedCompanies.Add(Company);
        }

        if (!Company.Is_Checked)
        {
            SelectedCompanies.RemoveAll(comp => comp.Id == CompanyId);
        }

        await LoadData();
    }

    private async Task HandleTypeAll()
    {
        using var context = ContextFactory.CreateDbContext();
        TypeAll = !TypeAll;

        if (TypeAll)
        {
            CheckedTypes.Clear();
            foreach (var type in Types)
            {
                type.Is_Checked = true;
                context.Update(type);
                await context.SaveChangesAsync();


                CheckedTypes.Add(type);
            }
            await LoadCategories();
            await LoadData();

        }

        if (!TypeAll)
        {
            foreach (var type in Types)
            {
                type.Is_Checked = false;
                context.Update(type);
                await context.SaveChangesAsync();

                CheckedTypes.RemoveAll(Type => Type.Id == type.Id);
            }
            await LoadCategories();
            await LoadData();
        }
        StateHasChanged();

    }

    private async Task HandleCategoryAll()
    {

        using var context = ContextFactory.CreateDbContext();
        CategoryAll = !CategoryAll;

        if (CategoryAll)
        {
            CheckedCategories.Clear();
            RelatedCompanies.Clear();

            foreach (var cat in FilteredCategories)
            {
                cat.Is_Checked = true;
                context.Update(cat);
                await context.SaveChangesAsync();


                CheckedCategories.Add(cat);

                foreach (var ctc in CompanyTypesCats)
                {
                    var Company = await context.Companies.FirstOrDefaultAsync(comp => comp.Id == ctc.CompanyId);
                    if (!RelatedCompanies.Any(comp => comp.CompanyId == ctc.CompanyId))
                    {
                        if (Company is not null && !Company.Disabled_From_Notifications)
                        {
                            RelatedCompanies.Add(ctc);
                        }
                    }
                }

            }
            await LoadCategories();
            await LoadData();
            StateHasChanged();
        }

        if (!CategoryAll)
        {
            CheckedCategories.Clear();
            RelatedCompanies.Clear();

            foreach (var cat in FilteredCategories)
            {
                cat.Is_Checked = false;
                context.Update(cat);
                await context.SaveChangesAsync();
            }

        }
    }

    private async Task HandleCompanyAll()
    {
        using var context = ContextFactory.CreateDbContext();
        CompanyAll = !CompanyAll;

        if (CompanyAll)
        {
            SelectedCompanies.Clear();
            foreach (var company in RelatedCompanies)
            {
                var Company = await context.Companies.Where(comp => comp.Id == company.CompanyId).ToArrayAsync();

                foreach (var comp in Company)
                {
                    comp.Is_Checked = true;
                    context.Update(comp);
                    await context.SaveChangesAsync();

                    if (!SelectedCompanies.Any(company => company.Id == comp.Id))
                    {
                        SelectedCompanies.Add(comp);
                    }
                }

            }
            await LoadData();
            StateHasChanged();
        }

        if (!CompanyAll)
        {
            SelectedCompanies.Clear();
            foreach (var company in RelatedCompanies)
            {
                var Company = await context.Companies.Where(comp => comp.Id == company.CompanyId).ToArrayAsync();

                foreach (var comp in Company)
                {
                    comp.Is_Checked = false;
                    context.Update(comp);
                    await context.SaveChangesAsync();
                }
            }
            await LoadData();
        }
    }

}
